<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-12 left-logo">
        <img src="assets/right_logo.png" alt="Logo 1">
    </div>

    <div class="col-lg-6 col-md-12 content d-flex flex-column align-items-center">
      <div class="top-logo-container">
          <img src="assets/top_logo.png" class="img-fluid top-logo" alt="Top Logo">
      </div>
      <router-outlet></router-outlet> 
    </div>
    <div class="col-lg-3 col-md-12 right-logo">
        <img src="assets/right_logo.png" alt="Logo 1">
    </div>
  </div>
</div>