@media (max-height: 2160px) {
  .content {
    margin-top: auto;
    overflow-y: auto;
    margin-right: auto;
    height: 70vmin;
  }
}

/* For 1600px resolution */
@media (max-height: 1600px) {
  .content {
    height: 51vmin;
  }
}

@media (max-height: 1440px) {
  .content {
    height: 60vmin;
  }
}

@media (max-height: 1080px) {
  .content {
    height: 52vmin;
  }
}

@media (max-height: 720px) {
  .content {
    height: 43vmin;
  }
}

table {
  width: 90vmin;
  text-align: center;
}

tr, td {
  font-family: 'Technology';
  width: 90vmin;
  font-size: calc(9vh - 45px);
  color: #ffffff;
  text-transform: uppercase;
  border-top: none;
}
