.content {
  padding: calc(18vh - 100px);
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

@property --t {
  syntax: '<number>';
  initial-value: 60;
  inherits: true;
}

@property --s {
  syntax: '<integer>';
  initial-value: 0;
  inherits: true;
}

.countdown {
  --s: calc(var(--t) / 1);
  display: grid;
  margin: 1em auto;
  width: 40vmin;
  height: 40vmin;
  animation: t 60s linear;
  color: transparent;
}

.countdown::after {
  grid-column: 1;
  grid-row: 1;
  place-self: center;
  font: 5vmin/2 ubuntu mono, consolas, monaco, monospace;
  counter-reset: s var(--s);
  content: "0:" counter(s, decimal-leading-zero);
}

@keyframes t {
  to {
    --t: 0;
  }
}

svg {
  grid-column: 1;
  grid-row: 1;
}

[r] {
  fill: none;
  stroke: #161616;
}

[r] + [r] {
  --k: calc(var(--t) / 60);
  transform: rotate(-90deg);
  stroke-linecap: round;
  stroke: color-mix(in hsl shorter hue, #59f70a calc(var(--k) * 100%), #a73742);
  stroke-dasharray: var(--k) 1;
}

